<header class="navbar-wagon">
  <% data.offices.each do |office| %>
    <!-- logo -->
    <div class="navbar-wagon-brand">
      <% link_to '/index.html' do  %>
        <p class="name"><%= office.work.capitalize %></p>
        <div class="hidden-sm hidden-md hidden-lg">
          <a href="tel:+33240842124"><p class="btn btn-primary"><i class="fa fa-phone" aria-hidden="true"></i> <%= office.phone %></p></a>
        </div>
      <% end %>
    </div>

    <div class="navbar-wagon-right hidden-xs">
      <a href="tel:+33240842124"><p class="btn btn-primary">Appelez nous au <%= office.phone %></p></a>
    </div>
  <% end %>
</header>
