// Define variables for your color scheme

// Bootstrap config

$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;

// Website config
$main-color: #5d4037;
$main-light: #8b6b61;
$main-dark: #321911;

$second-color: #004d40;
$second-light: #39796b;
$second-dark: #00251a;

$grey: #000000;
$light-grey: rgba(240, 240, 240, 1);
$white: rgb(255, 255, 255);

// background text for banner 2

$main-color-transparency: rgba(93, 64, 55, 0.6);


